@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

*, h1, h2, p, ul, li, a,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

body { background: #fff; font-family: 'Roboto', sans-serif; font-size:18px; font-weight:400; cursor:default;  overflow-x: hidden; }
html, body {height:100%; width: 100%;}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}


.home .container{
	background: url('../images/bkg.jpg') no-repeat center center;
	background-size: cover;
	border-radius: 20px;
	max-width: 1300px;
	min-height: 835px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	position: relative;
	margin-top: 30px;
}

.home .container::before{
	content: "";
	background: #0D47A1;
	border-radius: 20px;
	mix-blend-mode: multiply;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
}


.home .container .header_logo {
	width: 855px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 1;
    margin: 0 auto;
}

.home .container .header_logo img {
	width: 20%;
}

.home .container .wrap_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	max-width: 855px;
}

.home .container .textos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 0 50%;
}

.home .container .textos h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	text-align: left;
	color: #02EA86;
	padding-top: 15px;
}

.home .container .textos h2 {
	font-weight: 500;
	font-size: 22px;
	line-height: 35px;
	text-align: left;
	color: #fff;
	padding-top: 15px;
}

.home .container .textos p{
	font-weight: 500;
	font-size: 22px;
	line-height: 35px;
	text-align: left;
	color: #fff;
	padding-top: 15px;
}

.home .container .textos p span{
	font-weight: 900;
	display: block;
	padding-bottom: 15px;
}

.home .container .formulario{
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	border-radius: 17px;
	max-width: 330px;
	margin-top: 55px;
	min-height: 435px;
	padding: 35px 20px;
	flex: 0 0 50%;
}

.home .container .formulario input {
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 10px;
	height: 40px;
	margin-top: 50px;
	padding: 10px;
	width: 100%;
	
}

.home .container .formulario input:focus{
	outline: none;
}

.home .container .formulario input.btn_enviar{
	background: #00B248;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 180px;
	margin: 0 auto;
	margin-top: 80px;
	display: block;
}

.home .container .formulario 

::-webkit-input-placeholder { /* Edge */
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #C4C4C4;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #C4C4C4;
}

::placeholder {
  font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #C4C4C4;
}


/*Página de obrigado!*/

.textos_thanks h1{
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	color: #002171;
	padding-top: 75px;
}

.textos_thanks h2{
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: justify;
	color: #212121;
	padding-top: 50px;
}

.footer_thanks{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-top: 25px;
}

.footer_thanks img{
	max-width: 60%;
}


@media (min-width: 320px) and (max-width: 600px) {

	.home .container{
		margin-top: 0;
		margin: 10px;
	}


   .home .container .header_logo{
   	justify-content: center;
   }

   .home .container .header_logo img{
   		width: 45%;
   }
  
  .home .container .wrap_content {
  	flex-direction: column;
  }

  .home .container .textos h1{
  	font-size: 35px;
  	line-height: 41px;
  	margin-top: 35px;
  }

  .home .container .textos h2, .home .container .textos p{
  	font-size: 16px;
  	line-height: 19px;
  }

  .home .container .formulario{
  	min-height: auto;
  }

  .home .container .formulario input{
  	margin-bottom: 20px;
  	margin-top: 0;
  }

  .home .container .formulario input.btn_enviar{
  	margin-top: 32px;
  }

  
}